<ion-view>
    <ion-content scroll="false">
        <div id="flex-wrap" class="flex-center">
            <h2>Статистика</h2>
            <div id="stats">
                <div>
                    <div class="stat-single" ng-repeat="person in data" ng-bind="person.name"></div>
                </div>
                <div>
                    <div class="stat-single" ng-repeat="person in data" ng-bind="person.score"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
